.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    padding: 40px 20px;
    max-width: 1000px;
    margin: 100px auto 0; 
    background-color: #f8f9fa;

}
/* Contenedor de la tarjeta */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 100px auto 0;
    background-color: #f8f9fa; 
    border-radius: 12px;

/* Tarjeta */
.card {
    display: flex;
    flex-direction: row;
    background-color: #bbdefb; /* Azul claro */
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(197, 67, 67, 0.1);
    overflow: hidden;
    width: 440px;
    height: 150px;
    transition: transform 0.3s ease;
    align-items: center;
}

.card:hover {
    transform: scale(1.02);
}

/* Imagen */
.card-img {
    width: 120px;
    height: 120px;
    object-fit: contain;
    background-color: #fff;
    padding: 10px;
    margin-left: 10px;
}

/* Información */
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}    
}